h1{
 border-bottom:  2px solid grey;
 color: rgb(54, 109, 166);
 padding: 3px;
 text-align: center;


}
p{
  border-left:  solid;
  border-color: grey;
  padding-left: 10px;
  margin-top: 12px;
  margin-left:6em;
  margin-right: 6em;
  margin-bottom: 3em;
  font-size: 18px;

  font-family: sans-serif;

}

a.button{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
}

div{

  text-align: center;
}
body{
  margin-left: inherit;
  margin-right: inherit;
  margin-top: inherit;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333137;
}
li{
  float:left;
}

li a{
  color: white;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #3d3b41;
}

input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;

}
input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: blue;
}

.form {
    margin-left: 16em;
    margin-right: 16em;
    margin-top: 2em;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
label{
  float: left;
  width: 10%;
}
